extends ../../layout.pug 

block content
    .container
        .title
            h2 Listagem dos Usuários
            button#new-user(onclick='window.location.href="/users"')
                a(href="/users") Novo Usuário
        table.content-table
            thead
                tr
                    td Nome
                        button.asc( value="nome" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="nome" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up
                            
                    td Email
                        button.asc( value="email" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="email" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up

                    td Administrador
                        button.asc( value="is_admin" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="is_admin" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up


                    td Ação
                    
            tbody
            each user in users
                tr
                    td#nome= user.nome
                    td#email= user.email
                    td= user.is_admin ? "sim" : "não"
                    
                    td
                        a(href=`/users/${user.id}`) Visualizar
                            i.material-icons search
    
    //-     div.pagination(data-page=pagination.page, data-total=pagination.total, data-filter=filter, data-column=column, data-order=order)        

    //- script.
    //-     function verificaOrder(event) {
    //-         if (event.classList.contains('asc')){
    //-             location.href = `/reagentes/search?column=${event.value}&order=asc`
    //-         } else {
    //-             location.href = `/reagentes/search?column=${event.value}&order=desc`
    //-         }
    //-     }