extends ../../layout.pug

block content
    section.container.form
        .header
            h3 Usuário

        .fields-show
            div.item
                div Nome
                    div=user.nome
            div.item
                div E-mail
                    div=user.email

            div.item
                div Passaporte
                    div=user.passaporte

            div.item
                div Cargo
                    div=user['papel.nome']

            div.item
                div Administrador
                    div=user.is_admin ? "Sim" : "Não"

            div.button-show
                a.button(href=`/users/${user.id}/edit`) Editar


        