if user
    input(type="hidden", name="id" value=user.id)
    .item
        div Nome
            div
                input#nome(type="text", name="nome", placeholder="Digite o nome completo" value=user.nome)

    .item
        div Email
            div
                if user.is_admin
                    input#email(type="email", name="email" placeholder="Digite o email" value=user.email required)
                else
                    input#passaporte(type="email", name="email" placeholder="Digite o email" value=user.email required disabled)

    .item
        div Passaporte
            div
                if user.is_admin
                    input(type="text", name="passaporte" placeholder="Digite o passaporte da UFMS" value=user.passaporte required)
                else
                    input(type="text", name="passaporte" placeholder="Digite o passaporte da UFMS" value=user.passaporte required disabled)


    div.item
        div Cargo
            div
                if user.is_admin
                    select(name="papel_id")
                        each papel in papeis
                            if papel.id == user.papel_id
                                option(value=papel.id selected)=papel.nome
                            else    
                                option(value=papel.id)=papel.nome
                else
                    select(name="papel_id" disabled)
                        each papel in papeis
                            if papel.id == user.papel_id
                                option(value=papel.id selected)=papel.nome
                            else    
                                option(value=papel.id)=papel.nome


    .item#administrador
        div Administrador
        div
            if user.is_admin == true
                input(type="checkbox", name="is_admin" value="true" checked )
            else
                input(type="checkbox", name="is_admin" value="true" disabled)

else
    .item
        div Nome
            div
                input#nome(type="text", name="nome", placeholder="Digite o nome completo")

    .item
        div Email
            div
                input(type="email", name="email" placeholder="Digite o email" required)

    .item
        div Passaporte
            div
                input(type="text", name="passaporte" placeholder="Digite o passaporte da UFMS" required)

    .item
        div Cargo
            select(name="papel_id" required)
                option()
                each papel in papeis
                    option(value=papel.id)=papel.nome

    .item#administrador
        div Administrador
        div
            input(type="checkbox", name="is_admin" value="true")




