if reagente
    input(type="hidden", name="id" value=reagente.id)
    div.item
        div Nome Comum
            div
                input(type="text", name="nome_comum" value=reagente.nome_comum)
    div.item        
        div Nome Oficial
            div
                input(type="text", name="nome_oficial" value=reagente.nome_oficial)
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular" value=reagente.formula_molecular)
    div.item            
        div Marca
            div
                input(type="text", name="marca" value=reagente.marca)
    div.item
        div Lote
            div
                input(type="text", name="lote" value=reagente.lote)
    div.item
        div Validade
            div
                input(type="date", name="validade" value=reagente.validade)
    div.item
        div Estado
            div.radio
                if reagente.estado == 'sólido'
                    span
                        input(type="radio", name="estado" value="sólido" checked) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" ) 
                        | Líquido (Litro)
                else
                    span
                        input(type="radio", name="estado" value="sólido" ) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" checked) 
                        | Líquido (Litro)
    if isAdmin                
        div.item
            div Quantidade Inicial
                div
                    input(type="number", name="quantidade" placeholder="0.01" step="0.0001" min="0.0001" max="100000" value=reagente.quantidade)
    else
        div.item
            div Quantidade Inicial
                    input(type="number", name="quantidade" placeholder="0.01" step="0.0001" min="0.0001" max="100000" value=reagente.quantidade disabled)
                    
    div.item
        div Localização
            div
                select(name='local_armazenamento_id')
                    each local in locais
                        if (reagente.local_armazenamento_id == local.id)
                            option(value=local.id selected)=local.nome
                        else
                            option(value=local.id)=local.nome
    div.item
        div Incompatibilidade
            div
                input(type="text", name="incompatibilidade" value=reagente.incompatibilidade)
    div.item
        div#controlado Controlado
            div.radio
                if reagente.controlado
                    span
                        input(type="radio", name="controlado" id="sim" value="true" onchange="Validate.controlado(event)" checked)
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="nao" onchange="Validate.controlado(event)" value="false")
                        | Não
                else 
                    span
                        input(type="radio", name="controlado" id="sim" onchange="Validate.controlado(event)" value="true" )
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="nao" value="false" onchange="Validate.controlado(event)" checked)
                        | Não

        div#orgao.item
            div Órgão
                select(name="orgao_controle_id")
                    each orgao in orgaos
                        if orgao.id==reagente.orgao_controle_id
                            option(value=orgao.id selected)=orgao.nome
                        else
                            option(value=orgao.id)=orgao.nome
                        


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")= reagente.info_adicionais 
else
    div.item
        div Nome Comum
            div
                input.obrigatorio(type="text", name="nome_comum")
    div.item        
        div Nome Oficial
            div
                input.obrigatorio(type="text", name="nome_oficial")
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular")
    div.item            
        div Marca
            div
                input.obrigatorio(type="text", name="marca")
    div.item
        div Lote
            div
                input(type="text", name="lote")
    div.item
        div Validade
            div
                input.obrigatorio(type="date", name="validade")
    div.item
        div Estado
            div.radio
                span
                    input(type="radio", name="estado" value="sólido" ) 
                    |  Sólido (grama)

                span
                    input(type="radio", name="estado" value="líquido" checked) 
                    | Líquido (Litro)
    div.item
        div Quantidade
            div
                input.obrigatorio(type="number", placeholder="0.01" step="0.0001" min="0.0001" max="100000" name="quantidade")
    div.item
        div Localização
            div
                select(name="local_armazenamento_id" required)
                    option()
                    each local in locais
                        option(value=local.id)=local.nome
    div.item
        div Incompatibilidade:
            div
                input(type="text", name="incompatibilidade")
    div.item
        div#controlado Controlado
            div.radio
                span
                    input(type="radio", name="controlado" id="sim" value="true" onchange="Validate.controlado(event)" ) 
                    |  Sim
                span
                    input(type="radio", name="controlado" id="nao" value="false" onchange="Validate.controlado(event)" checked) 
                    | Não
    div#orgao.item.hidden
        div Órgão
            select(name="orgao_controle_id")
                option()
                each orgao in orgaos
                    option(value=orgao.id)=orgao.nome

    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")
