if reagente
    input(type="hidden", name="id" value=reagente.id)
    div.item
        div Nome Comum
            div
                input(type="text", name="nome_comum" value=reagente.nome_comum)
    div.item        
        div Nome Oficial
            div
                input(type="text", name="nome_oficial" value=reagente.nome_oficial)
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular" value=reagente.formula_molecular)
    div.item            
        div Marca
            div
                input(type="text", name="marca" value=reagente.marca)
    div.item
        div Lote
            div
                input(type="text", name="lote" value=reagente.lote)
    div.item
        div Validade
            div
                input(type="date", name="validade" value=reagente.validade)
    div.item
        div Estado
            div.radio
                if reagente.estado == 'sólido'
                    span
                        input(type="radio", name="estado" value="sólido" checked) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" ) 
                        | Líquido (Litro)
                else
                    span
                        input(type="radio", name="estado" value="sólido" ) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" checked) 
                        | Líquido (Litro)
    if isAdmin                
        div.item
            div Quantidade Inicial
                div
                    input(type="number", name="quantidade" value=reagente.quantidade)
    else
        div.item
            div Quantidade Inicial
                    input(type="number", name="quantidade" value=reagente.quantidade disabled)
                    
    div.item
        div Localização
            div
                select.obrigatorio(name="localizacao")
                    if reagente.localizacao == 'Armário 1'
                        option(value="Armário 1" selected) Armário 1
                    if reagente.localizacao == 'Armário 2'
                        option(value="Armário 2" selected) Armário 2
                    if reagente.localizacao == 'Sala do Professor'
                        option(value="Sala do Professor" selected) Sala do Professor
    div.item
        div Incompatibilidade
            div
                input(type="text", name="incompatibilidade" value=reagente.incompatibilidade)
    div.item
        div Controlado
            div.radio
                if reagente.controlado == 'sim'
                    span
                        input(type="radio", name="controlado" id="sim" value="sim" onchange="Validate.controlado(event)" checked)
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="não" onchange="Validate.controlado(event)" value="não")
                        | Não
                else 
                    span
                        input(type="radio", name="controlado" id="sim" onchange="Validate.controlado(event)" value="sim" )
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="não" value="não" onchange="Validate.controlado(event)" checked)
                        | Não

    if reagente.controlado == 'não'
        div#orgao.item.hidden
            div Órgão
                select(name="orgao")
                    option(value="Exército") Exército
                    option(value="Polícia Federal") Polícia Federal
    else
        div#orgao.item
            div Órgão
                select(name="orgao" required)
                    if reagente.orgao == 'Exército'
                        option(value="Exército" selected) Exército
                    if reagente.orgao == 'Polícia Federal'
                        option(value="Polícia Federal" selected) Polícia Federal


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")= reagente.info_adicionais 
else
    div.item
        div Nome Comum
            div
                input.obrigatorio(type="text", name="nome_comum")
    div.item        
        div Nome Oficial
            div
                input.obrigatorio(type="text", name="nome_oficial")
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular")
    div.item            
        div Marca
            div
                input.obrigatorio(type="text", name="marca")
    div.item
        div Lote
            div
                input(type="text", name="lote")
    div.item
        div Validade
            div
                input.obrigatorio(type="date", name="validade")
    div.item
        div Estado
            div.radio
                span
                    input(type="radio", name="estado" value="sólido" ) 
                    |  Sólido (grama)

                span
                    input(type="radio", name="estado" value="líquido" checked) 
                    | Líquido (Litro)
    div.item
        div Quantidade
            div
                input(type="number", name="quantidade")
    div.item
        div Localização
            div
                select.obrigatorio(name="localizacao")
                    option()
                    option(value="Armário 1") Armário 1
                    option(value="Armário 2") Armário 2
                    option(value="Sala do Professor") Sala do Professor
    div.item
        div Incompatibilidade:
            div
                input(type="text", name="incompatibilidade")
    div.item
        div Controlado
            div.radio
                span
                    input(type="radio", name="controlado" id="sim" value="sim" onchange="Validate.controlado(event)" ) 
                    |  Sim
                span
                    input(type="radio", name="controlado" id="não" value="não" onchange="Validate.controlado(event)" checked) 
                    | Não
    div#orgao.item.hidden
        div Órgão
            select(name="orgao")
                option()
                option(value="Exército") Exército
                option(value="Polícia Federal") Polícia Federal


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")
