if reagente
    input(type="hidden", name="id" value=reagente.id)
    div.item
        div Nome Comum
            div
                input(type="text", name="nome_comum" value=reagente.nome_comum)
    div.item        
        div Nome Oficial
            div
                input(type="text", name="nome_oficial" value=reagente.nome_oficial)
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular" value=reagente.formula_molecular)
    div.item            
        div Marca
            div
                input(type="text", name="marca" value=reagente.marca)
    div.item
        div Lote
            div
                input(type="text", name="lote" value=reagente.lote)
    div.item
        div Validade
            div
                input(type="date", name="validade" value=reagente.validade)
    div.item
        div Estado
            div.radio
                if reagente.estado == 'sólido'
                    span
                        input(type="radio", name="estado" value="sólido" checked) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" ) 
                        | Líquido (Litro)
                else
                    span
                        input(type="radio", name="estado" value="sólido" ) 
                        |  Sólido (grama)

                    span
                        input(type="radio", name="estado" value="líquido" checked) 
                        | Líquido (Litro)
    div.item
        div Quantidade
            div
                input(type="number", name="quantidade" value=reagente.quantidade)
    div.item
        div Localização
            div
                input(type="text", name="localizacao" value=reagente.localizacao)
    div.item
        div Incompatibilidade
            div
                input(type="text", name="incompatibilidade" value=reagente.incompatibilidade)
    div.item
        div Controlado
            div.radio
                if reagente.controlado == 'sim'
                    span
                        input(type="radio", name="controlado" id="sim" value="sim" checked)
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="não" value="não")
                        | Não
                else 
                    span
                        input(type="radio", name="controlado" id="sim" value="sim" )
                        |  Sim
                    span
                        input(type="radio", name="controlado" id="não" value="não" checked)
                        | Não

    if reagente.controlado == 'não'
        div#orgao.item.hidden
            div Órgão
                select(name="orgao")
                    option(value="Exército") Exército
                    option(value="Polícia Federal") Polícia Federal
    else
        div#orgao.item
            div Órgão
                select(name="orgao" required)
                    option(value="Exército") Exército
                    option(value="Polícia Federal") Polícia Federal


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")= reagente.info_adicionais 
else
    div.item
        div Nome Comum
            div
                input(type="text", name="nome_comum")
    div.item        
        div Nome Oficial
            div
                input(type="text", name="nome_oficial")
    div.item
        div Fórmula Molecular
            div
                input(type="text", name="formula_molecular")
    div.item            
        div Marca
            div
                input(type="text", name="marca")
    div.item
        div Lote
            div
                input(type="text", name="lote")
    div.item
        div Validade
            div
                input(type="date", name="validade")
    div.item
        div Estado
            div.radio
                span
                    input(type="radio", name="estado" value="sólido" ) 
                    |  Sólido (grama)

                span
                    input(type="radio", name="estado" value="líquido" checked) 
                    | Líquido (Litro)
    div.item
        div Quantidade
            div
                input(type="number", name="quantidade")
    div.item
        div Localização
            div
                select(name="localizacao" required)
                    option()
                    option(value="Armário 1") Armário 1
                    option(value="Armário 2") Armário 2
                    option(value="Sala do Professor") Sala do Professor
    div.item
        div Incompatibilidade:
            div
                input(type="text", name="incompatibilidade")
    div.item
        div Controlado
            div.radio
                span
                    input(type="radio", name="controlado" id="sim" value="sim" ) 
                    |  Sim
                span
                    input(type="radio", name="controlado" id="não" value="não" checked) 
                    | Não
    div#orgao.item.hidden
        div Órgão
            select(name="orgao" required)
                option()
                option(value="Exército") Exército
                option(value="Polícia Federal") Polícia Federal


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")


script.
    const divControlado = document.getElementsByName('controlado')
    const divOrgao = document.querySelector('#orgao')
    divControlado.forEach(control => {
        control.addEventListener('click', function(){
            if (control.value == 'sim')
                divOrgao.classList.remove('hidden')
            else
                divOrgao.classList.add('hidden')
        })
    })