if reagente
    input(type="hidden", name="id" value=reagente.id)
    div.item
        div Nome Comum:
            div
                input(type="text", name="nome_comum" value=reagente.nome_comum)
    div.item        
        div Nome Oficial:
            div
                input(type="text", name="nome_oficial" value=reagente.nome_oficial)
    div.item
        div Fórmula Molecular:
            div
                input(type="text", name="formula_molecular" value=reagente.formula_molecular)
    div.item            
        div Marca:
            div
                input(type="text", name="marca" value=reagente.marca)
    div.item
        div Lote:
            div
                input(type="text", name="lote" value=reagente.lote)
    div.item
        div Validade:
            div
                input(type="date", name="validade" value=reagente.validade)
    div.item
        div Estado
            div
            if reagente.estado == 'sólido'
                span
                    input(type="radio", name="estado" value="sólido" checked) 
                    |  Sólido (g)

                span
                    input(type="radio", name="estado" value="líquido" ) 
                    | Líquido (L)
            else
                span
                    input(type="radio", name="estado" value="sólido" ) 
                    |  Sólido (g)

                span
                    input(type="radio", name="estado" value="líquido" checked) 
                    | Líquido (L)
    div.item
        div Quantidade:
            div
                input(type="number", name="quantidade" value=reagente.quantidade)
    div.item
        div Localização:
            div
                input(type="text", name="localizacao" value=reagente.localizacao)
    div.item
        div Incompatibilidade:
            div
                input(type="text", name="incompatibilidade" value=reagente.incompatibilidade)
    div.item
        div Controlado
            div
            if reagente.controlado == 'sim'
                span
                    input(type="radio", name="controlado" id="sim" value="sim" checked)
                    |  Sim
                span
                    input(type="radio", name="controlado" id="não" value="não")
                    | Não
                div#orgao.item.hidden
                    div 
                        select(name="orgao")
                            if reagente.orgao == 'Exército'
                                option(value="Exército") Exército
                            else
                                option(value="Polícia Federal") Polícia Federal
            else 
                span
                    input(type="radio", name="controlado" id="sim" value="sim" )
                    |  Sim
                span
                    input(type="radio", name="controlado" id="não" value="não" checked)
                    | Não


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")= reagente.info_adicionais 
else
    div.item
        div Nome Comum:
            div
                input(type="text", name="nome_comum")
    div.item        
        div Nome Oficial:
            div
                input(type="text", name="nome_oficial")
    div.item
        div Fórmula Molecular:
            div
                input(type="text", name="formula_molecular")
    div.item            
        div Marca:
            div
                input(type="text", name="marca")
    div.item
        div Lote:
            div
                input(type="text", name="lote")
    div.item
        div Validade:
            div
                input(type="date", name="validade")
    div.item
        div Estado
            div
                span
                    input(type="radio", name="estado" value="sólido" ) 
                    |  Sólido (g)

                span
                    input(type="radio", name="estado" value="líquido" checked) 
                    | Líquido (L)
    div.item
        div Quantidade:
            div
                input(type="number", name="quantidade")
    div.item
        div Localização:
            div
                input(type="text", name="localizacao")
    div.item
        div Incompatibilidade:
            div
                input(type="text", name="incompatibilidade")
    div.item
        div Controlado
            div
                span
                    input(type="radio", name="controlado" id="sim" value="sim" ) 
                    |  Sim
                span
                    input(type="radio", name="controlado" id="não" value="não" checked) 
                    | Não
    div#orgao.item.hidden
        div 
            select(name="orgao" required)
                option(value="")
                option(value="Exército") Exército
                option(value="Polícia Federal") Polícia Federal


    div.item
        div Informações Adicionais
            div
                textarea(name="info_adicionais")


script.
    const divControlado = document.getElementsByName('controlado')
    const divOrgao = document.querySelector('#orgao')
    divControlado.forEach(control => {
        control.addEventListener('click', function(){
            if (control.value == 'sim')
                divOrgao.classList.remove('hidden')
            else
                divOrgao.classList.add('hidden')
        })
    })
    //- const controlado = document.getElementsById('sim').checked
    //- console.log(controlado)
    //- if controlado {
    //-     alert('oi')
    //- }
    //- controlado.forEach((control) => {
    //-     console.log(control)
    //-     if (control.checked == 'sim')
    //-         alert('sim')
    //- })

//- Nome comum:
//- Nome oficial:
//- Fórmula molecular:
//- Marca:
//- Lote:
//- Validade
//- Quantidade:
//- Localização:
//- Incompatibilidade:
//- Controlado: Não Sim: Exercito / PF
//- Informações adicionais:
//- Data da atualização:
