extends ../layout.pug 

block content
    .container
        .title
            h2 Listagem dos Reagentes
            a.button(href="/reagentes") Novo Reagente
            //- button#new-reagente(onclick='window.location.href="/reagentes"')

        table#reagentes
            thead
                tr
                    th Nome Oficial
                        button.asc( value="nome_oficial" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="nome_oficial" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up
                            
                    th Marca
                        button.asc( value="marca" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="marca" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up

                    th Controlado
                        button.asc( value="controlado" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="controlado" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up

                    th Quantidade
                        button.asc( value="quantidade" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_down
                        button( value="quantidade" onclick="verificaOrder(this)")
                            i.material-icons keyboard_arrow_up


                    th Ação
                    
            tbody
            each reagente in reagentes
                if reagente.quantidade_final == 0
                    tr.indisponivel
                        td= reagente.nome_oficial
                        td= reagente.marca
                        td= reagente.controlado ? "sim" : "não"
                        td= reagente.quantidade_final
                        
                        td
                            a(href=`/reagentes/${reagente.id}`) Visualizar
                                i.material-icons search
                            //- a(href=`/reagentes/${reagente.id}/consumo`) Consumo
                            //-     i.material-icons assignment
                else
                    tr
                        td= reagente.nome_oficial
                        td= reagente.marca
                        td= reagente.controlado ? "sim" : "não"
                        td= reagente.quantidade_final
                        
                        td
                            a(href=`/reagentes/${reagente.id}`) Visualizar
                                i.material-icons search
                                a(href=`/reagentes/${reagente.id}/consumo`) Consumo
                                    i.material-icons assignment


    
        div.pagination(data-page=pagination.page, data-total=pagination.total, data-filter=filter, data-column=column, data-order=order)        

    script.
        function verificaOrder(event) {
            if (event.classList.contains('asc')){
                location.href = `/reagentes/search?column=${event.value}&order=asc`
            } else {
                location.href = `/reagentes/search?column=${event.value}&order=desc`
            }
        }