extends ../layout.pug

block content
    section.container.form
        .header
            h3 Reagente
            if reagente.controlado
                div.item.controlado
                    div Controlado

        .fields-show
            div.item
                div Nome Comum
                    div=reagente.nome_comum
            div.item
                div Nome Oficial
                    div=reagente.nome_oficial
            div.item
                div Fórmula Molecular
                    div=reagente.formula_molecular
            div.item
                div Marca
                    div=reagente.marca
            div.item
                div Lote
                    div=reagente.lote
            div.item
                div Validade
                    div=reagente.validade
            if reagente.controlado
                div.item 
                    div Órgão
                        div=reagente.orgao.nome
            div.button-show
                a.button#consumo(href=`/reagentes/${reagente.id}/consumo`) Consumo
                a.button(href=`/reagentes/${reagente.id}/edit`) Editar



        